
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

ul.list-navbar {
  display: flex;
  width: 45%;
  height: 10vh;
  position: absolute;
  top: 10px;
  left: 10px;
}
li.list-item {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
}

li.list-item:hover {
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #6cdbef;
  font-weight: bold;
}
li.list-item:active {
  transform: translateY(4px);
}

.shameless-plug {
  bottom: 10px;
  right: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.92);
  font-weight: bolder;
}

.worring {
  color: red;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  font-weight: 900;
}


ul.list-navbar-img {
  display: flex;
  width: 45%;
  height: 10vh;
  position: fixed;
  bottom: 89%;
  right: 54%;
}

.editTitle {
  text-decoration: none;
  font-weight: bolder;
  font-size: large;
  cursor: pointer;
  color: #ffffffe6;
}

.card{
  background-color: rgba(255, 255, 255, 0);
    margin-right: 5px;
    border: 1px solid #2b19c1a3;
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}
